{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<!-- plot 2 images side by side -->

<a href="/"><img class="back_home" src="/static/images/home3.png"> </a>
<div id="plot">
    <div id="plot_left">
        <h1>Abstract distribution over topic</h1>
        <img src="../static/images/plot.png" class="center">

    </div>

    <div id="plot_right">
        <h1>Bodie distribution over topic</h1>
        <img src="../static/images/plot.png" class="center">
    </div>

</div>

{% endblock %}